* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --primary: orange;
  --dark: rgb(0, 0, 34);
  --light: white;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.slide-in {
  opacity: 0;
  transform: translateX(-30px);
  animation: slideIn 0.8s ease forwards;
  transition: transform 1s;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  z-index: 10000;
}

.logo h1 {
  color: var(--primary);
}

#menu {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* NAV */
.header-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-content a {
  text-decoration: none;
  color: var(--light);
  font-weight: bold;
}

.header-content a:hover {
  color: var(--primary);
}

/* .btn {
  background: var(--primary);
  padding: 10px 25px;
  color: white;
} */
#btn{
     background: var(--primary);
  padding: 10px 25px;
  color: white;
  border: none;
  transition: .6s;
}
#btn a:hover{
    color: white;
    transform: scaleX(1.7);
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background: white;
  min-width: 160px;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  display: block;
}
.dropdown-content.show {
     display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* HERO */
.hero {
  min-height: 60vh;
  padding-top: 70px;
  background:
    linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)),
    url("images/grilled-beef-steak-with-fries-grilled-tomato-pepper-sauces.jpg")
    center/cover no-repeat;
}
.text{
    text-align: center;
    margin: 70px auto;
}
.text h1 {
  font-size: 4rem;
  color: white;
}
.text a{
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.container a::after{
    content: "";
    border: 1px solid white;
    display: inline-block;
    margin: -5px 10px;
    height: 20px;
    transform: rotate(20deg);
}.container a:nth-child(1){
    color: orange;
}
.container a:nth-child(2){
    color: orange;
}

.page1{
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  width: 60%;
  position: static;
}
.page1 img {
  width: clamp(150px, 45%, 100%);
}

.about {
  display: flex;
  gap: 60px;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  justify-content: center;
  margin: 60px auto;
}

.page1 img:nth-child(1){
  width: 50%;
  height: 50%;
}
.page1 img:nth-child(2){
  width: 35%;
  height: 35%;
  position: relative;
  top: 90px;
}
.page1 img:nth-child(3){
  width: 35%;
  height: 35%;
  position: relative;
  left: 80px;
}
.page1 img:nth-child(4){
  width: 50%;
  height: 50%;
  position: relative;
  left: 82px;
}
.line{
  display: flex;
  gap: 15px;
  align-items: center;
}
.line hr{
  border: 1px solid orange;
  width: 50px;
  height: 0;
  color: orange;
}
.line h2{
  font-family: "Pacifico", cursive;
  color: orange;
  letter-spacing: 3px;
  font-weight: lighter;
}
label{
  color: orange;
}
.page2{ 
  width: 50%;
  position: relative;
  top: 60px;
}
.page2 h1{
  font-size: 2.5rem;
}
.page2   p{

  padding: 20px 0px;
}
.line1{
  border: 1px solid orange;
  width: 5px;
  height: 60px;
  background-color: orange;
}
.expereince{
  display: flex;
  gap: 20px;
  align-items: center;
}
.expereince h1{
  color: orange;
  font-weight: bolder;
}
.years{
  display: flex;
  align-items: center;
}
.ss{
  font-weight: 900;
}
.page2 button{
  padding: 20px 50px;
  background: orange;
  border: none;
  color: white;
  font-size: 18px;
  margin: 20px 0px;
}
.he{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 50px;
  line-height: 1.5;
}
.footer{
   background: var(--dark);
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 15rem;
  flex-wrap: wrap;
  color: white;
}
.map1{
  display: flex;
  align-items: center;
  gap: 10px;
}
.map1 label{
  font-size: 2rem;
}
.mon{
  display: flex;
  align-items: center;
  gap: 5px;
}
.follow{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}   





/* MOBILE SCREEN */
@media (max-width: 980px) {
  #menu {
    display: block;
    z-index: 10;
  }

  .header-content {
    position: fixed;
    bottom: 600px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background: var(--dark);
    flex-direction: column;
    padding: 30px;
    visibility: hidden;
    pointer-events: none;
    transition: 2s ease-in-out;
  }

  .header-content.open {    
    bottom: 0;
    visibility: visible;
    pointer-events: auto;
  }

  .container {
    flex-direction: column;
    text-align: center;
  }

  .image img {
    width: 60%;
  }
  .dropdown-content{
    margin: -30px 80px;
  }
}
@media (max-width:1120px) {
  .about{
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    gap: 30px;
  }

  .page1,
  .page2 {
    width: 100%;
  }

  .page1 img {
    width: 100%;
  }

  .page2 {
    top: 0;
  }

  .page2 h1 {
    font-size: 1.8rem;
  }

  .line {
    justify-content: center;
  }
  #contact1{
    display: grid;
  }
  .container2{
    display: grid;
  }
  .imgg img{
    width: 26rem;
  }
}

@media (max-width: 480px) {
  .page1 img {
    width: 100%;
  }
  .page2{
    margin: 40px 0px;
  }
  .page1 img:nth-child(3){
  width: 35%;
  height: 30%;
  position: relative;
  left: 50px;
  top: 10px;
}
.page1 img:nth-child(4){
  width: 45%;
  height: 40%;
  position: relative;
  left: 55px;
  top: 0;
  border: 1px solid black;
  margin: 20px 0px;
}
}
@media (max-width:570px) {
  .page1 img:nth-child(1){
  width: 45%;
  height: 40%;
}
.page1 img:nth-child(2){
  width: 35%;
  height: 30%;
  position: relative;
  top: 90px;
}
.page1 img:nth-child(3){
  width: 35%;
  height: 30%;
  position: relative;
  left: 50px;
  top: 10px;
}
.page1 img:nth-child(4){
  width: 45%;
  height: 40%;
  position: relative;
  left: 55px;
  top: 40px;
}
}

